/* ===================== */

/* LOADING SCREEN */
#LOADING_SCREEN {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2em;
  z-index: 10;
  opacity: 1;
  transition: opacity var(--transition-fast);
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===================== */

/* WARNINGS and ELEMENTS */
#WARNING {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 5px;
  translate: 0%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===================== */

/* TOOLTIP and ELEMENTS */
#TOOLTIP_HELP {
  position: fixed;
  margin: 10px;
  min-width: 100px;
  max-width: 350px;
  pointer-events: none;
  display: none;
  text-align: justify;
  z-index: 6;
}

/* ===================== */

/* HEADER and ELEMENTS */
#HEADER {
  grid-area: H;
  margin: 5px;
  gap: 7.5px;
  min-height: var(--sides-size);
  max-height: var(--sides-size);
  white-space: nowrap;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#LOGO_CONSTANT_PART,
#LOGO_CHANGING_PART {
  display: inline;
  letter-spacing: -8px;
  margin: 0;
  padding: 0;
}

#LOGO_CHANGING_PART {
  opacity: 0.35;
  z-index: -1;
}

/* ===================== */

/* SIDEBAR and ELEMENTS */
#SIDEBAR {
  grid-area: S;
  margin: 5px;
  gap: 7.5px;
  max-width: 100%;
  overflow: auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#SIDEBAR > * {
  min-width: calc(var(--sides-size) * 2);
  width: 100%;
}

/* ===================== */

/* WINDOWS and ELEMENTS  */
#THEMES,
#SETTINGS,
#AUTHOR,
#CONTENT {
  grid-area: C;
  margin: 5px;
  gap: 7.5px;
  position: relative;
  text-align: justify;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

}

#HUE_CHOOSERS,
#THEME_CHOOSERS,
#FONT_SIZE_CHOOSERS,
#INTERFACE_SIZE_CHOOSERS,
#CUSTOMIZATION_SAVING_CHOOSERS,
#ANIMATION_TOGGLE_CHOOSERS,
#HINT_TOGGLE_CHOOSERS,
#LAYOUT_CHOOSERS {
  gap: 4px;
  width: calc(var(--sides-size) * 7.6);
  height: calc(var(--sides-size) * 7.6 * 2);
  position: relative;
  padding: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
#CLASSES_STYLE_CHOOSERS {
  gap: 4px;
  width: calc(var(--sides-size) * 7.6 * 2 + 22px);
  height: calc(var(--sides-size) * 7.6 * 2);
  position: relative;
  padding: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#HUE_CHOOSERS > *:not(:nth-child(1)) {
  width: calc(var(--sides-size) * 3.4);
  height: calc(var(--sides-size) * 3.4);
}
#CUSTOMIZATION_SAVING_CHOOSERS > *:not(:nth-child(1)),
#ANIMATION_TOGGLE_CHOOSERS > *:not(:nth-child(1)),
#HINT_TOGGLE_CHOOSERS > *:not(:nth-child(1)),
#LAYOUT_CHOOSERS > *:not(:nth-child(1)) {
  width: calc(var(--sides-size) * 3.4 * 2);
  height: calc(var(--sides-size) * 3.4 * 2);
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#THEME_CHOOSERS > *:not(:nth-child(1)),
#FONT_SIZE_CHOOSERS > *:not(:nth-child(1)),
#INTERFACE_SIZE_CHOOSERS > *:not(:nth-child(1)) {
  width: calc(var(--sides-size) * 3.4 * 2);
  height: calc(var(--sides-size) * 3.4 * 1);  
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#CLASSES_STYLE_CHOOSERS > *:not(:nth-child(1)) {
  width: calc(var(--sides-size) * 3.4 * 4 + 22px);
  height: calc(var(--sides-size) * 3.4 * 1);
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ===================== */

/* STORY BLOCK */
#STORY_BLOCK {
  display: flex;
  flex-direction: column;
}

#STORY_BLOCK > :nth-child(1) {
  margin: 0 0 15px 0;
}

/* ===================== */

/* CHARACTER INFORMATION */
#CHARACTER_INFORMATION {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "T T T T"
    "C C C S";
}

#CHARACTER_INFORMATION_TITLE {
  grid-area: T;
}

/* CHARACTER SPECIAL */
#CHARACTER_SPECIAL {
  grid-area: S;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  margin: 5px 0;
}

#CHARACTER_SPECIAL_NAME {
  display: flex;
  justify-content: center;
}

/* CHARACTER CARD */
#CHARACTER_CARD {
  grid-area: C;
  display: grid;
  position: relative;
  margin: 5px 0;
  gap: 15px;
  transition: height var(--transition-fast), width var(--transition-fast);
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "N N"
    "I I"
    "I I"
    "I I";
}

#CHARACTER_CARD_NAME {
  grid-area: N;
  display: flex;
  justify-content: center;
}

#CHARACTER_CARD_INFORMATION {
  grid-area: I;
  position: relative;
  text-align: justify;
  display:inline;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#CHARACTER_CARD_IMAGE {
  width: calc(var(--images-size) * 8);
  height: calc(var(--images-size) * 8);
  margin: 0 15px 15px 0;
  position: relative;
  float: left;
  display: block;
}

#CHARACTER_CARD_IMAGE img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 2;
}

#CHARACTER_CARD_IMAGE p {
  position: absolute;
  width: 80%;
  height: 80%;
  overflow-y: auto;
  text-align: left;
  top: 15px;
  left: 15px;
}

#CHARACTER_CARD_IMAGE:hover {
  cursor: help;
}

#CHARACTER_CARD_IMAGE:hover > img {
  opacity: 0;
  pointer-events: none;
}

/* ===================== */

/* CHARACTERS SLIDERS */
#CHARACTERS_SLIDERS {
  display: flex;
  flex-direction: column;
}

#CHARACTERS_SLIDERS > * {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  margin: 5px 0 15px 0;
  gap: 15px;
}

#CHARACTERS_SLIDERS > * > * {
  min-width: calc(var(--sides-size) * 13);
  max-width: calc(var(--sides-size) * 13);
  min-height: calc(var(--sides-size) * 14);
  max-height: 100%;
}

#CHARACTERS_SLIDERS > * > *:hover {
  transform: scale(1.01);
  outline: rgb(var(--hue), 1) solid 1px;
}

#CHARACTERS_SLIDERS > * > * img {
  margin: 0 0 10px 0;
  padding: 0;
}

#CHARACTERS_SLIDERS > * > * img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

#CHARACTERS_SLIDERS > * > * p {
  margin: 0 15px 0 0;
  padding: 0;
}

/* ==================== */

/* FOOTER and ELEMENTS */
#FOOTER {
  grid-area: F;
  margin: 5px;
  gap: 7.5px;
  height: var(--sides-size);
  max-height: var(--sides-size);
  z-index: 2;
}

/* ==================== */

/* MEDIA QUERIES */
@media (max-width: 1000px) {
  #CHARACTER_INFORMATION {
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "T T T T"
      "C C C C"
      "S S S S";
    gap: 5px;
  }
}

@media (max-width: 480px) {
  #CHARACTER_CARD_INFORMATION {
    display: flex;
  }

  #CHARACTER_CARD_IMAGE {
    margin: 0 0 15px 0;
  }
}
