/*.............................................................................
.                                 UNLOADABLE                                  .
.............................................................................*/
.UNLOADABLE {
  display: none;
}

/*.............................................................................
.                                    HTML                                     .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
html {
  box-sizing: border-box;
  letter-spacing: 1px;
  line-height: 1.5;
  height: -webkit-fill-avaliable;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  
  user-select: none;
  scrollbar-color: rgba(var(--color-accent)) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}
/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                    BODY                                     .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
body {
  --color-text: unset;
  --color-solid: unset;
  --color-accent: unset;
  --size-ui: unset;
  --size-images: unset;
  --modifier-font: unset;
  --modifier-ui: unset;
  --transition-fast: unset;
  --transition-slow: unset;
  --transition-long: unset;
  --transition-eye: unset;
  --transition-slide: unset;

  box-sizing: border-box;
  font-size: 15px;
  height: 100vh;
  height: -webkit-fill-avaliable;
  height: 100svh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "H H" "S C" "S С";
}
/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                    TEXT                                     .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  z-index: 2;
}

h1.FANCY,
h2.FANCY,
h3.FANCY {
  z-index: 2;
}

h1.TITLE,
h2.TITLE,
h3.TITLE {
  width: 100%;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 10px;
  transform: translateX(-10px) translateY(-10px);
}

h1.TITLE.INVISIBLE,
h2.TITLE.INVISIBLE,
h3.TITLE.INVISIBLE {
  background: none;
  box-shadow: none;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

h1.TITLE.STATIONARY,
h2.TITLE.STATIONARY,
h3.TITLE.STATIONARY {
  position: relative;
  margin: 0px 0px 0px 10px;
  background: none;
  box-shadow: none;
}

h1.HINT,
h2.HINT,
h3.HINT {
  position: relative;

  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 3;
}

p {
  margin: 0;
  padding: 0;
  display: inline !important;
  font-size: 1.15em;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgba(var(--color-accent));
}

a:hover {
  color: rgba(var(--color-text));
}
/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                  IMAGES                                     .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}
/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                  BLOCKS                                     .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
.BLOCK {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 2;
}

.BLOCK.INNER {
  margin: 0px 0px;
}

.BLOCK.INNER.IMAGE {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.BLOCK.INNER.INVISIBLE {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  outline: none !important;
}

.PAGE.CLOSED {
  display: none;
}

.BLOCK.SPECIAL {
  position: relative;
}

.BLOCK.HIDDEN {
  opacity: 0;
  pointer-events: none;
  display: none !important;
}

.BUTTON {
  cursor: pointer;
  justify-content: center;
  align-content: center;
  text-align: center;
  min-width: var(--size-ui);
  min-height: var(--size-ui);
}

.BUTTON.WIDE {
  width: 100%;
}

.BUTTON.INVISIBLE {
  box-shadow: none;
  background: none;
  outline: none;
}

.BUTTON.ACTIVE {
  position: relative;
}

.BUTTON.HIDDEN {
  display: none !important;
}

.BUTTON:hover {
  transform: scale(0.95);
  filter: brightness(1.25);
}

.BUTTON[disabled] {
  filter: brightness(0.5);
  pointer-events: none;
  cursor: not-allowed;
}

.BUTTON.SIDEBAR {
  font-size: clamp(10px, 1.25em, 18px);
  max-width: clamp(45px, 1em, 60px);
  max-height: clamp(45px, 1em, 60px);
}

.BUTTON_HELP {
  cursor: help;
  position: absolute;
  top: 0;
  left: -2px;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: clamp(10px, 1em, 14px);
  min-width: var(--size-ui);
  min-height: var(--size-ui);
  z-index: 4;
}

.BUTTON.PAGING {
  position: absolute;
  width: calc(var(--size-ui) * 4);
  opacity: 0;
  height: 100%;
  z-index: 4;
  transition: 
  opacity var(--transition-fast),
  transform var(--transition-slow);
}
.BUTTON.PAGING.NEXT {
  right: 0;
}
.BUTTON.PAGING:hover {
  opacity: 0.5;
}

.SPACER {
  flex-grow: 1;
}

.FILLER {
  width: 50%;
  height: 50%;
}
.FILLER.HALF {
  width: 25%;
  height: 25%;
}

.ICON {
  pointer-events: none;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}
/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                 SCROLLBAR                                   .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(var(--color-accent));
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--color-accent));
  border-radius: 15px;
}
/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                   MEDIA                                     .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
@media (max-width: 120000px) {
  body {
    font-size: calc(14px * var(--modifier-font));
    --size-ui: calc(20px * var(--modifier-ui));
    --size-images: calc(100px * (var(--modifier-ui) / 2));
  }
}

@media (max-width: 991px) {
  body {
    font-size: calc(13px * var(--modifier-font));
    --size-ui: calc(20px * var(--modifier-ui));
    --size-images: calc(80px * (var(--modifier-ui) / 2));
  }
}

@media (max-width: 768px) {
  body {
    font-size: calc(13px * var(--modifier-font));
    --size-ui: calc(18px * var(--modifier-ui));
    --size-images: calc(70px * (var(--modifier-ui) / 2));
  }
}

@media (max-width: 768px) {

}

@media (max-width: 600px) {
  body {
    font-size: calc(13px * var(--modifier-font));
    --size-ui: calc(13px * var(--modifier-ui));
    --size-images: calc(60px * (var(--modifier-ui) / 2));
  }
}

@media (max-width: 480px) {
  body {
    font-size: calc(10px * var(--modifier-font));
    --size-ui: calc(11px * var(--modifier-ui));
    --size-images: calc(60px * (var(--modifier-ui) / 2));
  }
}

@media (max-width: 360px) {
  body {
    font-size: calc(10px * var(--modifier-font));
    --size-ui: calc(10px * var(--modifier-ui));
    --size-images: calc(50px * (var(--modifier-ui) / 2));
  }
}
/* ! КОНЕЦ БЛОКА */