/*.............................................................................
.                                   LOADING                                   .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
#LOADING_SCREEN {
  opacity: 1;
  background: black;
  background: rgba(var(--color-solid));
  transition: opacity var(--transition-fast);
  -o-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  transition-delay: 0.25s;
  animation: 2s SCALING cubic-bezier(.69,-0.87,.54,1.33) infinite;
}
#LOADING_SCREEN > div {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: clamp(1px, 15vw, 3rem);
  height: clamp(1px, 15vw, 3rem);
  border-radius: 50%;
  border: 8px solid rgba(var(--color-accent));
  animation: 2s SPINNING cubic-bezier(.69,-0.87,.54,1.33) infinite;
  text-shadow: none;
  overflow: hidden;
  color: rgba(var(--color-accent));
}
#LOADING_SCREEN > div::before {
  content: '';
  inset: 0;
  margin: -35% auto 0% auto;
  position: absolute;
  background: rgba(var(--color-accent));
  border-radius: 15px;
  width: 8px;
  height: 45px;
}
#LOADING_SCREEN > *:nth-child(1) {
  animation: 8s SPINNING cubic-bezier(.69,-0.87,.54,1.33) infinite;

}

@keyframes SPINNING {
  0% {
    transform: rotate(10deg) ;
  }

  25% {
    transform: rotate(100deg);
  }
  
  50% {
    transform: rotate(190deg);
  }

  75% {
    transform: rotate(280deg);
  }

  100% {
    transform: rotate(370deg);
  }
}

@keyframes SCALING {
  0% {
    transform: scale(2);
  }

  25% {
    transform: scale(2.25);
  }
  
  50% {
    transform: scale(2.5);
  }

  75% {
    transform: scale(2.75);
  }

  100% {
    transform: scale(2);
  }
}
/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                   WARNING                                   .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
#WARNING {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 5px;
  translate: 0%;
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                   TOOLTIP                                   .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
#TOOLTIP_HELP {
  position: fixed;
  margin: 10px;
  min-width: 100px;
  max-width: 350px;
  pointer-events: none;
  display: none;
  text-align: justify;
  z-index: 6;
}

/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                   HEADER                                    .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
#HEADER {
  grid-area: H;
  margin: 5px;
  gap: 7.5px;
  min-height: calc(var(--size-ui) * 2);
  max-height: calc(var(--size-ui) * 2);
  white-space: nowrap;
  z-index: 2;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#HEADER_BUTTON_GO_BACK {
  margin: 0px 10px 0px 0px;
}

#LOGO_CONSTANT_PART,
#LOGO_CHANGING_PART {
  display: inline;
  letter-spacing: -8px;
  margin: 0;
  padding: 0;
}

#LOGO_CHANGING_PART {
  opacity: 0.35;
  z-index: -1;
}

/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                   SIDEBAR                                   .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
#SIDEBAR {
  grid-area: S;
  margin: 0px 5px 5px 5px;
  gap: 7.5px;
  max-width: 100%;
  overflow: auto;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#SIDEBAR::-webkit-scrollbar {
  display: none;
}

#SIDEBAR > * {
  min-width: clamp(40px, calc(var(--size-ui) * 3), 180px);
  min-height: clamp(35px, calc(var(--size-ui) * 3), 180px);
}

/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                   WINDOWS                                   .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
#THEMES,
#SETTINGS,
#AUTHOR,
#CONTENT,
#HELP {
  grid-area: C;
  margin: 5px;
  gap: 7.5px;
  position: relative;
  text-align: justify;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;

  display: flex;
  align-items: start;
  justify-content: start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

#HUE_CHOOSERS,
#THEME_CHOOSERS,
#FONT_SIZE_CHOOSERS,
#INTERFACE_SIZE_CHOOSERS,
#CUSTOMIZATION_SAVING_CHOOSERS,
#ANIMATION_TOGGLE_CHOOSERS,
#HINT_TOGGLE_CHOOSERS,
#LAYOUT_CHOOSERS {
  gap: 4px;
  width: calc(var(--size-ui) * 7.6);
  height: calc(var(--size-ui) * 7.6 * 2);
  position: relative;
  padding: 7.5px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
#CLASSES_STYLE_CHOOSERS {
  gap: 4px;
  width: calc(var(--size-ui) * 7.6 * 2 + 22px);
  height: calc(var(--size-ui) * 7.6 * 2);
  position: relative;
  padding: 7.5px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#HUE_CHOOSERS > *:not(:nth-child(1)) {
  width: calc(var(--size-ui) * 3.4);
  height: calc(var(--size-ui) * 3.4);
}
#CUSTOMIZATION_SAVING_CHOOSERS > *:not(:nth-child(1)),
#ANIMATION_TOGGLE_CHOOSERS > *:not(:nth-child(1)),
#HINT_TOGGLE_CHOOSERS > *:not(:nth-child(1)),
#LAYOUT_CHOOSERS > *:not(:nth-child(1)) {
  width: calc(var(--size-ui) * 3.4 * 2);
  height: calc(var(--size-ui) * 3.4 * 2);
  font-size: 0.75em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#THEME_CHOOSERS > *:not(:nth-child(1)),
#FONT_SIZE_CHOOSERS > *:not(:nth-child(1)),
#INTERFACE_SIZE_CHOOSERS > *:not(:nth-child(1)) {
  width: calc(var(--size-ui) * 3.4 * 2);
  height: calc(var(--size-ui) * 3.4 * 1);  
  font-size: 0.75em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#CLASSES_STYLE_CHOOSERS > *:not(:nth-child(1)) {
  width: calc(var(--size-ui) * 3.4 * 4 + 22px);
  height: calc(var(--size-ui) * 3.4 * 1);
  font-size: 0.75em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                    STORY                                    .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
#STORY_SECTION {

  display: flex;
  flex-direction: column;
}

#STORY_SECTION > :nth-child(1) {
  margin: 0 0 0px 0;
}

/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                  MAIN PAGE                                  .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
#MAIN_PAGE_SECTION {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 15px;
  min-height: 700px;
  height: 90%;
  max-height: 800px;
  max-width: 1500px;
}
#MAIN_PAGE_SECTION > div {
  flex-grow: 1;
  flex-basis: 450px;
  min-height: 350px;
}
#MAIN_PAGE_SECTION > a {
  position: absolute;
  inset: 0;
  margin: auto auto 15px auto;
  width: 6ch;
  height: 1ch;
}

#MAIN_PAGE_SECTION_TITLE {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#MAIN_PAGE_SECTION_TITLE > h1 {
  font-size: 800%;
}

#MAIN_PAGE_SECTION_TITLE > p:first-child {
  position: relative;
  text-align: center;
  font-size: 85%;
  opacity: 0.25;
}

#MAIN_PAGE_SECTION_TITLE > p:last-child {
  position: relative;
  text-align: center;
  max-width: 250px;
  font-size: 125%;
}

#MAIN_PAGE_SECTION_SEARCH {
  position: relative;
}

#MAIN_PAGE_SECTION_SEARCH_EYE_HINT {
  position: relative;
  font-size: 125%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  pointer-events: none;
  opacity: 0.05;
  transition: opacity var(--transition-fast);
}

#MAIN_PAGE_SECTION_SEARCH_EYE {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  width: min(calc(var(--size-ui) * 15), 210px);
  height: min(calc(var(--size-ui) * 15), 210px);
  animation: LOOKING var(--transition-eye) infinite;
}

#MAIN_PAGE_SECTION_SEARCH_EYELID {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  width: min(calc(var(--size-ui) * 30), 400px);
  height: min(calc(var(--size-ui) * 20), 280px);
  outline: 25px solid rgba(var(--color-accent));
  animation: ROTATING var(--transition-eye) infinite;
  transition: scale var(--transition-fast);
}

#MAIN_PAGE_SECTION_SEARCH_EYELID:hover {
  scale: 1.05;
  cursor: pointer;
}

#MAIN_PAGE_SECTION_SEARCH_EYELID:hover + #MAIN_PAGE_SECTION_SEARCH_EYE_HINT {
  opacity: 1;
}

@keyframes LOOKING {
  0% {
    transform: translate(-5px, -10px);
  }
  10% {
    transform: translate(5px, 15px);
  }
  20% {
    transform: translate(-5px, 25px);
  }
  30% {
    transform: translate(10px, 20px);
  }
  40% {
    transform: translate(-50px, 10px);
  }
  50% {
    transform: translate(-50px, -10px);
  }
  60% {
    transform: translate(-40px, -20px);
  }
  70% {
    transform: translate(-20px, 5px);
  }
  80% {
    transform: translate(20px, 10px);
  }
  90% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(-5px, -10px);
  }
}

@keyframes ROTATING {
  0% {
    transform: rotateY(-5deg);
  }
  10% {
    transform: rotateY(5deg);
  }
  20% {
    transform: rotateY(-5deg);
  }
  30% {
    transform: rotateY(10deg);
  }
  40% {
    transform: rotateY(-20deg);
  }
  50% {
    transform: rotateY(-20deg);
  }
  60% {
    transform: rotateY(-15deg);
  }
  70% {
    transform: rotateY(-10deg);
  }
  80% {
    transform: rotateY(10deg);
  }
  90% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(-5deg);
  }
}

/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                  CHARACTER                                  .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
#CHARACTER_INFORMATION_SECTION {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "T T T T"
    "C C C C"
    "S S S S";
}

#CHARACTER_INFORMATION_SECTION_TITLE {
  grid-area: T;
}

/* CHARACTER SPECIAL */
#CHARACTER_SPECIAL_SECTION {
  grid-area: S;

  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  margin: 15px 0px 15px 0px;
}

#CHARACTER_SPECIAL_SECTION_NAME {

  display: flex;
  justify-content: center;
}

/* CHARACTER CARD */
#CHARACTER_CARD_SECTION {
  grid-area: C;
  display: grid;
  position: relative;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "N N"
    "I I"
    "I I"
    "I I";
}

#CHARACTER_CARD_SECTION_NAME {
  grid-area: N;

  display: flex;
  justify-content: center;
}

#CHARACTER_CARD_SECTION_INFORMATION {
  grid-area: I;
  position: relative;
  text-align: justify;
  display:inline;
  flex-direction: column;
  justify-content: center;
  align-content:flex-start;
  align-items: center;
}

#CHARACTER_CARD_SECTION_IMAGE {
  width: calc(var(--size-images) * 10);
  height: calc(var(--size-images) * 10);
  margin: 0 15px 15px 0;
  position: relative;
  float: left;

}

#CHARACTER_CARD_SECTION_IMAGE img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity var(--transition-fast);
}

#CHARACTER_CARD_SECTION_IMAGE p {
  position: absolute;
  border-radius: 15px;
  width: 90%;
  height: 90%;
  padding: 5px;
  overflow-y: auto;
  text-align: left;
  top: 5px;
  left: 5px;
}

#CHARACTER_CARD_SECTION_IMAGE:hover {
  cursor: help;
}

#CHARACTER_CARD_SECTION_IMAGE:hover > img {
  opacity: 0;
  pointer-events: none;
}

/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                   SLIDERS                                   .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
#CHARACTERS_SLIDERS_SECTION {
  display: flex;
  flex-direction: column;
}

#CHARACTERS_SLIDERS_SECTION > div {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 5px;
  display: flex;
  flex-direction: row;
  margin: 0px 0 25px 0;
  gap: 15px;
}

#CHARACTERS_SLIDERS_SECTION > * > * {
  min-width: calc(var(--size-ui) * 15);
  max-width: calc(var(--size-ui) * 15);
  min-height: calc(var(--size-ui) * 17);
  max-height: 100%;
  scroll-snap-align: start;
  transition: transform var(--transition-fast);
  cursor: pointer;

}

#CHARACTERS_SLIDERS_SECTION > * > *:hover {
  transform: scale(1.01);
  outline: rgba(var(--color-accent), 1) solid 1px;
}

#CHARACTERS_SLIDERS_SECTION > * > * img {
  margin: 0 0 10px 0;
  padding: 0;
  width: calc(var(--size-ui) * 15);
  height: calc(var(--size-ui) * 15);
  transition: transform var(--transition-fast);
}

#CHARACTERS_SLIDERS_SECTION > * > * img:hover {
  transform: scale(1.03);
}

#CHARACTERS_SLIDERS_SECTION > * > * p {
  margin: 0 15px 0 0;
  padding: 0;
}

/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                    MEDIA                                    .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
@media (max-width: 929px) {
  #MAIN_PAGE_SECTION_SEARCH_EYELID {
    margin: auto auto 75px auto;
  }
  #MAIN_PAGE_SECTION_SEARCH_EYE_HINT {
    height: 75%;
  }
}

@media (max-width: 768px) {
  #body {
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "H H"
      "C C"
      "C C"
      "S S";
  }
  #SIDEBAR {
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  #MAIN_PAGE_SECTION {
    height: 80%;
  }
  #MAIN_PAGE_SECTION_SEARCH_EYELID {
    margin: auto auto 150px auto;
  }
}

@media (max-width: 480px) {
  #CHARACTER_CARD_SECTION_INFORMATION {
    display: flex;
  }
  #CHARACTER_CARD_SECTION_IMAGE {
    margin: 0 0 15px 0;
  }
}

/* ! КОНЕЦ БЛОКА */
