/* THEME */
:root[data-theme="light"] {
  --text: 76, 52, 96;
  --background: 250, 242, 253;
  --primary: 229, 220, 229;
  --secondary: 220, 175, 233;
  --accent: 130, 48, 123;
}
:root[data-theme="dark"] {
  --text: 184, 160, 204;
  --background: 12, 2, 15;
  --primary: 36, 27, 36;
  --secondary: 66, 22, 78;
  --accent: 207, 124, 200;
}



/* FONT */

@font-face {

    font-family: 'geologica';
    src: url(
        '../FONTS/geologica/Geologica-Light.ttf'
    );

}

/* DEFAULTS */

body {

  --text: 184, 160, 204;
  --background: 12, 2, 15;
  --primary: 36, 27, 36;
  --secondary: 66, 22, 78;
  --accent: 207, 124, 200;

  font-family: 'geologica';
  font-size: 15px;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 15px;
  gap: 15px;
  
  background: linear-gradient(135deg, rgb(var(--primary)), rgb(var(--background)));
  color: rgb(var(--text));

  transition: font-size 1s ease;

}

h1 {

  padding: 0px;
  margin: 0px;

}

h2 {

  padding: 0px;
  margin: 0px;

}

img {

  border-radius: 15px;
  width: max-content;

}

/* BODY */

.BODY {
  display: flex;
  min-width: 300px;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 150px rgba(var(--secondary), 0.1);
  background: rgb(var(--background));
  border-radius: 15px;
  padding: 15px;
  z-index: 1;
}

.BODY_DEVIDER {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  padding: 7.5px;
}

.BODY_SECTION {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 150px rgba(var(--secondary), 0.5);
  background: rgb(var(--background));
  border-radius: 15px;
  padding: 15px;
}
.BODY_SECTION.EXPANDED {
  font-size: 15px;
}
.BODY_SECTION.EXPANDABLE {
  cursor: pointer;
  transition: font-size 0.25s ease, background 1s ease, box-shadow 1s ease;
}
.BODY_SECTION.EXPANDABLE:hover {
  background: rgb(var(--primary));
  box-shadow: 0 0 150px rgba(var(--secondary));
}
.BODY_SECTION.EXPANDABLE:active {
  font-weight: bold;
}

@property --border-angle { syntax: '<angle>'; initial-value: 0deg; inherits: false;}
.BODY_SECTION.IMPORTANT {
  content: '';
}
.BODY_SECTION.IMPORTANT::after,
.BODY_SECTION.IMPORTANT::before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: conic-gradient(
    from var(--border-angle), transparent, rgb(var(--accent)), transparent, transparent, rgb(var(--secondary)), transparent, transparent
  );
  padding: 7.5px;
  animation: 15s spin linear infinite;
  z-index: -1;
}
.BODY_SECTION.IMPORTANT::before { filter: blur(15px); opacity: 0.75; }
@keyframes spin {
  from { --border-angle: 0deg; }
  to { --border-angle: 360deg; }
}


/* SECTION */

.SECTION_TITLE {
  font-weight: bolder;
  text-align: left;
  border-radius: 15px;
  width: 100%;
}
.SECTION_DEVIDER {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  padding: 7.5px;
}

@property --font-size { syntax: '<number>'; initial-value: 15px; inherits: false;}
.SECTION_CONTENT {
  text-align: justify;
  border-radius: 15px;
  width: 100%;
}

/* CONTENT */

.CONTENT_IMAGE {
  border-radius: 15px;
  float: left;
  margin: 0px 15px 0px 0px;
}
.CONTENT_IMAGE.ICON {
  border-radius: 15px;
  float: left;
  margin: 0px 15px 0px 0px;
  width: 200px;
  height: auto;
}

/* MEDIA */

@media (max-width: 7680px) {
  .BODY_SECTION {
    font-size: 20px;
  } 
  .BODY_SECTION.EXPANDED {
    font-size: 25px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  .CONTENT_IMAGE.ICON {
    width: 200px;
  }
}
  
@media (max-width: 480px) {
  .BODY_SECTION {
    font-size: 15px;
  } 
  .BODY_SECTION.EXPANDED {
    font-size: 20px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  .CONTENT_IMAGE.ICON {
    width: 150px;
  }
}