/* FONTS */

@font-face {  /* INTERFACE */
    font-family: 'geologica';
    src: url(
        '../FONTS/geologica/Geologica-Light.ttf'
    );
}


/* ANIMATIONS */

@keyframes spin {
  from { --border-angle: 0deg; }
  to { --border-angle: 360deg; }
}


/* DEFAULTS */

html {
  box-sizing: border-box;
  letter-spacing: 1.5px;
  line-height: 1.5;
}
* {
  box-sizing: border-box;
  font-family: 'geologica';
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {

  /* VARIABLES */
  --text: 225, 217, 249;
  --solid: 5, 2, 13;
  --main: 162, 125, 234;
  --second: 111, 22, 136;

  font-family: 'geologica';
  font-size: 15px;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px;
  gap: 10px;

  background-color: rgb(var(--solid));
  color: rgb(var(--text));

}

h1 {

  font-size: 22.5px;
  padding: 0px;
  margin: 0px;
  transition: font-size 0.5s ease;

}

h2 {

  font-size: 17.5px;
  padding: 0px;
  margin: 0px;
  transition: font-size 0.5s ease;

}

img {

  border-radius: 10px;
  width: max-content;

}


/* LOADING SCREEN */

.LOADING_SCREEN {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(var(--solid));
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}


/* BODY */

.BODY {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 70px;
  min-width: 300px;
  max-width: 100%;
  gap: 10px;
  align-items:flex-start;
  box-shadow: 
    6px 6px 10px -1px rgba(var(--second), 0.1),
    -6px -6px 10px -1px rgba(var(--main), 0.1);
  background-color: rgb(var(--solid));
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}

.BODY_DEVIDER {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  padding: 7.5px;
}

.BODY_SECTION {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 
  6px 6px 10px -1px rgba(var(--second), 0.1),
  -6px -6px 10px -1px rgba(var(--main), 0.1);
  background-color: rgb(var(--solid));
  border-radius: 10px;
  padding: 10px;
}

.BODY_SECTION.CLICKABLE {
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.BODY_SECTION.CLICKABLE:hover {
  cursor: pointer;
  transform: scale(1.05) rotateX(1deg) rotateY(-10deg) rotateZ(1deg);
  filter: brightness(1.1);
  z-index: 4;
}

.BODY_SECTION.WINDOW {
  box-shadow: 0 0 50px rgb(var(--main));
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 4; 
  width: calc(100% - 40px); 
  max-height: 750px; 
  max-width: 700px;
}

.BODY_SECTION.BORDERED {
  background-image: linear-gradient(
    45deg,
    rgba(var(--second), 0.5),
    rgba(var(--main), 0.5),
    rgba(var(--second), 0.5)
  );
}

@property --border-angle { syntax: '<angle>'; initial-value: 0deg; inherits: false;}
.BODY_SECTION.ANIMATED {
  background-image: conic-gradient(
    from var(--border-angle),
    rgba(var(--main), 0.25),
    rgba(var(--main), 0.3),
    rgba(var(--main), 0.4),
    rgba(var(--main), 0.5),
    rgba(var(--main), 0.65),
    rgba(var(--main), 0.8),
    rgba(var(--main), 0.9),
    rgba(var(--main), 0.8),
    rgba(var(--main), 0.65),
    rgba(var(--main), 0.5),
    rgba(var(--main), 0.4),
    rgba(var(--main), 0.3),
    rgba(var(--main), 0.25)
  );
  animation: 15s spin linear infinite;
}

.BODY_SECTION.HIDDEN {
  display: none;
}


/* SECTION */

.SECTION_BUTTON {
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(var(--solid));
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.25s ease, filter 0.1s ease, font-size 0.5s ease;
  box-shadow: 
    6px 6px 10px -1px rgba(var(--second), 0.1),
    -6px -6px 10px -1px rgba(var(--main), 0.1);
  color: rgb(var(--text));
  padding: 10px 10px;
  margin: 5px 0px;
  cursor: pointer;

  opacity: 1;
  float: left;
  pointer-events: auto;
}

.SECTION_BUTTON:active {
  filter: brightness(0.75);
  box-shadow: 
    10px 10px 10px -1px rgba(var(--second), 0.1) inset,
    -10px -10px 10px -1px rgba(var(--main), 0.1) inset;
}
.SECTION_BUTTON:hover {
  cursor: pointer;
  transform: scale(1.05) rotateX(1deg) rotateY(-10deg) rotateZ(1deg);
  filter: brightness(1.1);
  z-index: 4;
}

.SECTION_HINT {
  transition: opacity 4s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  opacity: 1;
  pointer-events: none;
  box-shadow: 0 0 50px rgb(var(--main));
  background-color: rgb(var(--solid));
  border-radius: 10px;
  padding: 10px;
  z-index: 2; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
}

.SECTION_TITLE {
  box-sizing:content-box;
  font-weight: bolder;
  text-align: left;
  transform: translate(-10px, -10px);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(var(--second)) 50%,
    rgb(var(--main)) 100%
  );
  z-index: 2;
}

.SECTION_DEVIDER {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  padding: 7.5px 0px 12.5px 0px;
}

.SECTION_CONTENT {
  text-align: justify;
  margin: 0px 0px 0px 0px;
  border-radius: 10px;
  width: 100%;
  transition: font-size 0.5s ease;
  background-color: rgb(var(--solid));
  padding: 10px;
  z-index: 0;
  box-shadow: 
  10px 10px 10px -1px rgba(var(--second), 0.1) inset,
  -10px -10px 10px -1px rgba(var(--main), 0.1) inset;
}
.SECTION_CONTENT.CLICKABLE {
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.SECTION_CONTENT.CLICKABLE:hover {
  cursor: pointer;
  transform: scale(1.05) rotateX(1deg) rotateY(-10deg) rotateZ(1deg);
  filter: brightness(1.1);
  z-index: 4;
}
.SECTION_CONTENT.EXPANDABLE {
  cursor: pointer;
  transition: filter 0.1s ease, font-size 0.5s ease;
}
.SECTION_CONTENT.EXPANDED {
  font-size: 20px;
}


/* CONTENT */

.CONTENT_IMAGE {
  border-radius: 10px;
  float: left;
  margin: 0px 10px 0px 0px;
}
.CONTENT_IMAGE.ICON {
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  min-width: 150px;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.CONTENT_DOCUMENTLIKE {
  border-radius: 10px;
  border: 1px solid rgb(var(--text));
  padding: 10px;
  margin: 20px 0px 20px 0px;
}
.CONTENT_DOCUMENTLIKE::before ,
.CONTENT_DOCUMENTLIKE::after {
  content: ' . . . ';
  width: 100%;
  text-align: center;
  display: block;
  margin: 10px 0px 10px 0px;
}
.CONTENT_THEME_PREVIEW {
  --preview-text: var(--text);
  --preview-solid: var(--solid);
  --preview-main: var(--main);
  --preview-second: var(--second);
  text-align: center;
  border-radius: 10px;
  width: 100%;
  font-size: 20px;
  height: 100%;
  margin: 10px 0px 10px 0px;
  box-shadow: 
  10px 10px 10px -1px rgba(var(--preview-second), 0.1) inset,
  -10px -10px 10px -1px rgba(var(--preview-main), 0.1) inset;
  background-color: rgb(var(--preview-main));
  background-image: linear-gradient(
    to right,
    rgb(var(--preview-solid)) 0%,
    rgb(var(--preview-solid)) 50%,
    rgb(var(--preview-second)) 60%,
    rgb(var(--preview-main)) 100%
  );
  color: rgb(var(--preview-text));
  transition: all 0.5s ease;
  padding: 10px;
}
.CONTENT_THEME_PREVIEW:hover {
  cursor: pointer;
  transform: scale(1.02) rotateX(10deg) rotateY(-1.5deg) rotateZ(0.1deg);
  filter: brightness(1.1);
  z-index: 4;
}

::-webkit-scrollbar {
  width: 15px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(
    rgb(var(--solid)) 0%,
    rgb(var(--second)) 25%,
    rgb(var(--second)) 75%,
    rgb(var(--solid)) 100%
  );
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--main));
  border-radius: 15px;
}
