/*.............................................................................
.                                   ШРИФТЫ                                    .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
@font-face {
  font-family: "geologica";
  src: url("../FONTS/geologica/Geologica-Light.ttf");
  font-display: block;
}

@font-face {
  font-family: "caveat";
  src: url("../FONTS/caveat/Caveat-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "great_vibes";
  src: url("../FONTS/great_vibes/GreatVibes-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "play";
  src: url("../FONTS/play/Play-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "train_one";
  src: url("../FONTS/train_one/TrainOne-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "mister_brush";
  src: url("../FONTS/mister_brush/MisterBrush.ttf");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../FONTS/rubik/RubikMonoOne-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "rubik_dirt";
  src: url("../FONTS/rubik/RubikDirt-Regular.ttf");
  font-display: swap;
}
/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                  АНИМАЦИИ                                   .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
@keyframes BLINKING {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes SCREEN_LINES {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 5% 5%;
  }
}

@keyframes NEON_SHINING {
  0%,
  15%,
  60%,
  70%,
  90%,
  100% {
    opacity: 1;
  }
  7% {
    opacity: 0.9;
  }
  9%,
  11% {
    opacity: 0.25;
  }
  10% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.8;
  }
}
/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                   БЛОКИ                                     .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
.TEXT_BLOCK {
  display: inline-block;
  padding: 15px;
  margin: 0px 0px 10px 0px;
  border-radius: 15px;
  position: relative;

  z-index: 2;

  text-rendering:optimizeSpeed;
}

.TEXT_BLOCK p {
  z-index: 3;
}
.TEXT_BLOCK::after {
  content: "";
  opacity: 0.25;

  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 5px;
  font-weight: bold;
  font-family: "geologica";
  font-size: 0.75rem;
  z-index: 2;
  color: rgba(var(--color-text));
}
.TEXT_BLOCK::before {
  content: "";
  border-radius: 15px;
  z-index: -1;
}

/* TEXT DEFAULT       */

.TEXT_BLOCK.DEFAULT {
  padding: 0px;
  content-visibility: visible;
  border-radius: 0px;
}

/* TEXT MESSAGE       */

.TEXT_BLOCK.MESSAGE {
  padding: 5px 10px 0px 10px;
  margin: 20px 0px 15px 0px;
  gap: 5px;

  display: flex;
  flex-direction: column;
}

.TEXT_BLOCK.MESSAGE.MAIN span {
  font-size: 0.75rem;
  font-style: italic;
}

.TEXT_BLOCK.MESSAGE.MAIN p:nth-child(1) {
  top: -20px;
  white-space: nowrap;
  left: 0px;
  position: absolute;
  font-size: 0.75rem;
  font-weight: bold;
}

.TEXT_BLOCK.MESSAGE.SIDE span {
  font-size: 0.75rem;
  font-style: italic;
}

.TEXT_BLOCK.MESSAGE.SIDE p:nth-child(1) {
  top: -20px;
  white-space: nowrap;
  left: 0px;
  position: absolute;
  font-size: 0.75rem;
  font-weight: bold;
}

.TEXT_BLOCK.MESSAGE.SIDE {
  border-left: 5px solid rgba(var(--color-text), 0.4);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: -moz-linear-gradient(90deg, rgba(var(--color-text), 0.1), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(90deg, rgba(var(--color-text), 0.1), rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(90deg, rgba(var(--color-text), 0.1), rgba(0, 0, 0, 0));
  background: linear-gradient(90deg, rgba(var(--color-text), 0.1), rgba(0, 0, 0, 0));
}

.TEXT_BLOCK.MESSAGE.MAIN {
  border-left: 5px solid rgba(var(--color-accent), 0.4);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: -moz-linear-gradient(90deg, rgba(var(--color-accent), 0.2), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(90deg, rgba(var(--color-accent), 0.2), rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(90deg, rgba(var(--color-accent), 0.2), rgba(0, 0, 0, 0));
  background: linear-gradient(90deg, rgba(var(--color-accent), 0.2), rgba(0, 0, 0, 0));
}

/* TEXT ENGRAVED      */

.TEXT_BLOCK.ENGRAVED {
  padding: 15px 15px 10px;
  color: rgba(var(--color-text));
  outline: 1px solid rgba(var(--color-text), 0.25);
}
.TEXT_BLOCK.ENGRAVED p {
  text-shadow: -1px -1px 0px rgba(var(--color-text), 0.5), -1px -1px 0px rgba(var(--color-solid)), -1px 1px 3px rgba(var(--color-solid));
  font-size: 1.25em;
}
.TEXT_BLOCK.ENGRAVED::after {
  content: "Гравировка на поверхности";
}
.TEXT_BLOCK.ENGRAVED::before {
  content: "";

  position: absolute;

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background: rgba(var(--color-solid));
}
p.TEXT_ENGRAVED {
  text-shadow: -1px -1px 0px rgba(var(--color-text), 0.5), -1px -1px 0px rgba(var(--color-solid)), -1px 1px 3px rgba(var(--color-solid));

  font-size: 1.25em !important;
}

/* TEXT ENGRAVED LUXURY */

.TEXT_BLOCK.ENGRAVED.LUXURY {
  outline: 2px solid rgba(var(--color-text), 0.25);
}
.TEXT_BLOCK.ENGRAVED.LUXURY p {
  font-family: "great_vibes";

  text-shadow: -1px -1px 0px rgba(var(--color-text), 0.5), -1px -1px 0px rgba(var(--color-solid)), -1px 1px 3px rgba(var(--color-solid));

  filter: sepia(100%);

  font-weight: 400;

  font-size: 2em;
  line-height: 1;
}
.TEXT_BLOCK.ENGRAVED.LUXURY::after {
  content: "Роскошная гравировка на поверхности";
}
.TEXT_BLOCK.ENGRAVED.LUXURY::before {
  content: "";

  position: absolute;

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background: rgba(var(--color-solid));

  filter: sepia(100%);
}
p.TEXT_ENGRAVED_LUXURY {
  font-family: "great_vibes" !important;

  text-shadow: -1px -1px 0px rgba(var(--color-text), 0.5), -1px -1px 0px rgba(var(--color-solid)), -1px 1px 3px rgba(var(--color-solid));

  font-weight: 400 !important;

  font-size: 2em !important;
  line-height: 1 !important;
}

/* TEXT PAPER         */

.TEXT_BLOCK.PAPER {
  padding: 15px 15px 10px 25px;

  outline: 1px solid rgba(var(--color-text), 0.25);
}
.TEXT_BLOCK.PAPER p {
  font-family: "Times New Roman", serif;

  font-size: 1.25em;
}
.TEXT_BLOCK.PAPER::after {
  content: "Текст на бумаге";
}
.TEXT_BLOCK.PAPER::before {
  content: "";

  position: absolute;

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background: -moz-linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
  background: -o-linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
  background: linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
}
p.TEXT_PAPER {
  font-family: "Times New Roman", serif !important;

  font-size: 1.25em !important;
}

/* TEXT HANDWRITING   */

.TEXT_BLOCK.PAPER.HANDWRITTEN p {
  font-family: "caveat";

  font-size: 2em;
  line-height: 1;
}
.TEXT_BLOCK.PAPER.HANDWRITTEN::after {
  content: "Рукописная записка";
}
p.TEXT_HANDWRITING {
  font-family: "caveat" !important;

  font-size: 2em !important;
  line-height: 1 !important;
}

/* TEXT VINTAGE PAPER */

.TEXT_BLOCK.PAPER.VINTAGE {
  outline: 2px solid rgba(var(--color-text), 0.25);
}
.TEXT_BLOCK.PAPER.VINTAGE p {
  font-family: "great_vibes";

  filter: sepia(100%);

  font-weight: 400;

  font-size: 2em;
  line-height: 1;
}
.TEXT_BLOCK.PAPER.VINTAGE::after {
  content: "Текст на старой бумаге";
}
.TEXT_BLOCK.PAPER.VINTAGE::before {
  content: "";

  position: absolute;

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background: rgba(var(--color-solid));

  filter: sepia(100%);
}
p.TEXT_VINTAGE {
  font-family: "great_vibes" !important;

  font-weight: 400 !important;

  font-size: 2em !important;
  line-height: 1 !important;
}

/* TEXT NEWSPAPER     */

.TEXT_BLOCK.NEWSPAPER {
  padding: 15px 15px 10px 25px;

  outline: 1px solid rgba(var(--color-text), 0.25);
}
.TEXT_BLOCK.NEWSPAPER p {
  font-family: "Times New Roman", serif;

  font-size: 1.25em;
}
.TEXT_BLOCK.NEWSPAPER h2 {
  font-family: "Times New Roman", serif;

  margin: 0px 0px 10px 0px;

  border-bottom: 1px solid rgba(var(--color-text), 0.25);
}
.TEXT_BLOCK.NEWSPAPER::after {
  content: "Текст на газете";
}
.TEXT_BLOCK.NEWSPAPER::before {
  content: "";

  position: absolute;

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background: -moz-linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
  background: -o-linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
  background: linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
}

/* TEXT HANDWRITING POEM */

.TEXT_BLOCK.POEM {
  text-align: center;

  outline: 1px solid rgba(var(--color-text), 0.25);
}
.TEXT_BLOCK.POEM p {
  font-family: "caveat";

  font-size: 2.25em;
}
.TEXT_BLOCK.POEM::after {
  content: "Стихотворный блок";
}
.TEXT_BLOCK.POEM::before {
  content: "";

  position: absolute;

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background: -moz-linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
  background: -o-linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
  background: linear-gradient(
    90deg,
    rgba(var(--color-text),0.05),
    rgba(var(--color-solid))
  );
}

/* TEXT ON SCREEN     */

.TEXT_BLOCK.ON_SCREEN {
  text-shadow: 0 0 5px rgba(var(--color-solid));
  padding: 15px 15px 10px;
  outline: 1px solid rgba(var(--color-accent), 0.75);
  background: 
  -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 24%,
    rgba(var(--color-text), 0.1) 25%,
    rgba(var(--color-text), 0.1) 26%,
    rgba(0, 0, 0, 0) 27%,
    rgba(0, 0, 0, 0) 74%,
    rgba(var(--color-text), 0.1) 75%,
    rgba(var(--color-text), 0.1) 76%,
    rgba(0, 0, 0, 0) 77%,
    rgba(0, 0, 0, 0)
  ),
  -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 24%,
    rgba(var(--color-text), 0.1) 25%,
    rgba(var(--color-text), 0.1) 26%,
    rgba(0, 0, 0, 0) 27%,
    rgba(0, 0, 0, 0) 74%,
    rgba(var(--color-text), 0.1) 75%,
    rgba(var(--color-text), 0.1) 76%,
    rgba(0, 0, 0, 0) 77%,
    rgba(0, 0, 0, 0)
  );
  background: 
  -o-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 24%,
    rgba(var(--color-text), 0.1) 25%,
    rgba(var(--color-text), 0.1) 26%,
    rgba(0, 0, 0, 0) 27%,
    rgba(0, 0, 0, 0) 74%,
    rgba(var(--color-text), 0.1) 75%,
    rgba(var(--color-text), 0.1) 76%,
    rgba(0, 0, 0, 0) 77%,
    rgba(0, 0, 0, 0)
  ),
  -o-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 24%,
    rgba(var(--color-text), 0.1) 25%,
    rgba(var(--color-text), 0.1) 26%,
    rgba(0, 0, 0, 0) 27%,
    rgba(0, 0, 0, 0) 74%,
    rgba(var(--color-text), 0.1) 75%,
    rgba(var(--color-text), 0.1) 76%,
    rgba(0, 0, 0, 0) 77%,
    rgba(0, 0, 0, 0)
  );
  background: 
  -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 24%,
    rgba(var(--color-text), 0.1) 25%,
    rgba(var(--color-text), 0.1) 26%,
    rgba(0, 0, 0, 0) 27%,
    rgba(0, 0, 0, 0) 74%,
    rgba(var(--color-text), 0.1) 75%,
    rgba(var(--color-text), 0.1) 76%,
    rgba(0, 0, 0, 0) 77%,
    rgba(0, 0, 0, 0)
  ),
  -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 24%,
    rgba(var(--color-text), 0.1) 25%,
    rgba(var(--color-text), 0.1) 26%,
    rgba(0, 0, 0, 0) 27%,
    rgba(0, 0, 0, 0) 74%,
    rgba(var(--color-text), 0.1) 75%,
    rgba(var(--color-text), 0.1) 76%,
    rgba(0, 0, 0, 0) 77%,
    rgba(0, 0, 0, 0)
  );
  background: 
  linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 24%,
    rgba(var(--color-text), 0.1) 25%,
    rgba(var(--color-text), 0.1) 26%,
    rgba(0, 0, 0, 0) 27%,
    rgba(0, 0, 0, 0) 74%,
    rgba(var(--color-text), 0.1) 75%,
    rgba(var(--color-text), 0.1) 76%,
    rgba(0, 0, 0, 0) 77%,
    rgba(0, 0, 0, 0)
  ),
  linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 24%,
    rgba(var(--color-text), 0.1) 25%,
    rgba(var(--color-text), 0.1) 26%,
    rgba(0, 0, 0, 0) 27%,
    rgba(0, 0, 0, 0) 74%,
    rgba(var(--color-text), 0.1) 75%,
    rgba(var(--color-text), 0.1) 76%,
    rgba(0, 0, 0, 0) 77%,
    rgba(0, 0, 0, 0)
  );
  background-size: 50px 50px;
  animation: SCREEN_LINES var(--transition-long) infinite;
}
.TEXT_BLOCK.ON_SCREEN p {
  font-family: "play";

  text-shadow: 0 0 1px rgba(var(--color-accent)), 1px 1px 0px rgba(var(--color-accent));

  filter: brightness(1.2);

  color: rgba(var(--color-text));
}
.TEXT_BLOCK.ON_SCREEN::after {
  content: "Текст на экране";
}
p.TEXT_ON_SCREEN {
  font-family: "play" !important;

  text-shadow: 0 0 1px rgba(var(--color-accent)), 1px 1px 0px rgba(var(--color-accent)) !important;

  filter: brightness(1.2) !important;

  color: rgba(var(--color-text)) !important;
}

/* TEXT ON SCREEN WRITING */

.TEXT_BLOCK.ON_SCREEN.WRITING > p::after {
  content: "|";

  animation: BLINKING var(--transition-fast) infinite;
}
.TEXT_BLOCK.ON_SCREEN.WRITING::after {
  content: "Введенный текст на экране";
}

/* NEON SIGN OLD      */

.TEXT_BLOCK.NEON_SIGN {
  align-self: center;

  color: rgba(var(--color-accent));
  text-shadow: 0 0 5px rgba(var(--color-solid)), 0 0 7.5px rgba(var(--color-solid)),
    0 0 10px rgba(var(--color-solid)), 0 0 20px rgba(var(--color-accent));

  padding: 15px 15px 10px;
}
.TEXT_BLOCK.NEON_SIGN.OLD p {
  font-family: "train_one";
  font-size: 2.25em;

  font-weight: bolder;

  animation: NEON_SHINING var(--transition-long) infinite;
}
.TEXT_BLOCK.NEON_SIGN::after {
  content: "";
}

/* NEON SIGN MODERN   */

.TEXT_BLOCK.NEON_SIGN.MODERN p {
  font-family: "rubik";
  font-size: 2em;

  animation: NEON_SHINING var(--transition-long) infinite;
}

/* GRAFFITI SIGN     */

.TEXT_BLOCK.GRAFFITI {
  align-self: center;

  color: rgba(var(--color-text));
  text-shadow: 2px 2px 0 rgba(var(--color-accent), 0.5), 4px 4px 0 rgba(var(--color-accent), 0.25),
    -1px -1px 0 rgba(var(--color-accent), 0.25), 0 0 4px rgba(var(--color-solid)),
    0 0 8px rgba(var(--color-solid)), 0 0 10px rgba(var(--color-solid)),
    0 0 35px rgba(var(--color-text));

  padding: 15px 15px 10px;
}
.TEXT_BLOCK.GRAFFITI p {
  font-family: "mister_brush";
  font-style: italic;
  font-size: 2.25em;

  color: rgba(var(--color-accent));

  font-weight: bolder;
}
.TEXT_BLOCK.GRAFFITI::after {
  content: "";
}

/* FUTURE SIGN       */

.TEXT_BLOCK.FUTURE_SIGN {
  align-self: center;

  color: rgba(var(--color-text));
  text-shadow: 1px 1px 0 rgba(var(--color-accent));

  padding: 15px 15px 10px;
}
.TEXT_BLOCK.FUTURE_SIGN p {
  font-family: "play";
  font-size: 2.25em;

  font-weight: bolder;
}
.TEXT_BLOCK.FUTURE_SIGN p::before,
.TEXT_BLOCK.FUTURE_SIGN p::after {
  content: "—";

  display: inline;

  height: 10px;
  width: 100%;
}
.TEXT_BLOCK.FUTURE_SIGN::after {
  content: "";
}

/* ANCIENT STONE SIGN */

.TEXT_BLOCK.ANCIENT_STONE_SIGN {
  align-self: center;

  color: rgba(var(--color-text));
  text-shadow: 1px 1px 0 rgba(var(--color-text), 0.7),
    2px 2px 0 rgba(var(--color-solid));

  padding: 15px 15px 10px;
}
.TEXT_BLOCK.ANCIENT_STONE_SIGN p {
  font-family: "rubik_dirt";
  font-size: 2em;
}
.TEXT_BLOCK.ANCIENT_STONE_SIGN::after {
  content: "";
}

/* TEXT AUTHOR NOTE   */

.TEXT_BLOCK.AUTHOR_NOTE {
  padding: 15px 15px 10px;

  outline: 1px solid rgba(var(--color-accent), 0.5);
  border-left: 5px solid rgba(var(--color-accent));
}
.TEXT_BLOCK.AUTHOR_NOTE::after {
  content: "Записка от автора";
}

/* TEXT IMPORTANT     */

.TEXT_BLOCK.IMPORTANT {
  padding: 15px 15px 10px;

  outline: 1px solid rgba(var(--color-text), 0);
  border-left: 2.5px solid rgba(var(--color-accent));
}
.TEXT_BLOCK.IMPORTANT::after {
  content: "Важное";
}
/* ! КОНЕЦ БЛОКА */
/*.............................................................................
.                                  СТРАНИЦЫ                                   .
.............................................................................*/
/* ! НАЧАЛО БЛОКА */
.PAGE {
  position: relative;
  width: 100%;
}

.PAGE::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}